body{
    height: 100px;
    text-align: center;
    margin: 0 auto;
    padding-top: 50px;
}

h1{
	font-size: 30px;
    font-family: Sans-serif;
    color: #5090CD;
}

h2{
	font-size: 20px;
	font-family: Sans-serif;
	color: #5090CD;
}
#hover{
	margin-top: 100px;
}

#player{
	height: 50px;
	width: 80%;
	margin: 0 auto;
}