<!DOCTYPE html>
<html lang="en">
	<head>
	<meta charset="utf-8"> 
	<link rel="stylesheet" type="text/css" href="css/style.css">   
	<title>Inspiration</title> 
	 </head> 

	 <body>
	 <nav>
	 	<ul>
	 		<li><a href="/">Home</a></li>
	 		<li><a href="/about">About</a></li>
	 		<li><a href="/inspiration">Mustaches</a></li>
	 	</ul>
	 </nav>
    {{{body}}}

	</body>
</html>