body{
    height: 500px;
    text-align: center;
}

h1{
 	font-size: 50px;
 	margin-top: 50px;
 	letter-spacing: 4px;
}

h2{
	width:300px;
	background-color: lightblue;
	border-radius: 15px;
	font-size: 40px;
	margin: 0 auto;
}